<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402800391125-316ogfknr42oo5coal3kufh870kfr23o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402800391125-316ogfknr42oo5coal3kufh870kfr23o</string>
	<key>API_KEY</key>
	<string>AIzaSyDV8unKGhhiA610Ug8bCoiJPow8l-vr9k8</string>
	<key>GCM_SENDER_ID</key>
	<string>402800391125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CarParkingDemo</string>
	<key>PROJECT_ID</key>
	<string>carparking-ab929</string>
	<key>STORAGE_BUCKET</key>
	<string>carparking-ab929.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402800391125:ios:c138fd9d109bcd2e66c35c</string>
	<key>DATABASE_URL</key>
	<string>https://carparking-ab929.firebaseio.com</string>
</dict>
</plist>